* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    min-height: 100vh;
}

/*----------------Navigation Bar-------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #5b1801, #0e8802);
    ;
    box-shadow: 0 10px 20px rgba(1, 123, 5, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0, 7s ease;
    white-space: nowrap;
    transition: all 0.3s ease-out;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    color: black;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid grey;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}


/*--------------------------------Mission--------------------------*/


/* .bg-container{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.bg-image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
} */

.upper-text {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
}

.upper-text h4 {
    font-size: 25px;
    font-weight: 100;
}

.upper-text h1 {
    font-size: 80px;
    font-weight: 500;
}

.upper-text p {
    font-size: 20px;
    border: 0.5px solid black;
    height: 40px;
    width: 20vh;
    padding: 8px;
    margin-top: 20px;
    /* box-shadow: 0 10px 10px rgba(0,0,0,0.5); */
    background-color: transparent;
}

.upper-text p:hover {
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.bg-container {
    height: 800px;
    background-image: url("crops.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



/*-----------------------------------------------Sildeshow------------------------------------------*/
.slideshow-container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.marquee {
    position: absolute;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
}

.marquee span {
    display: inline-block;
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*--------------------------------About Us--------------------------*/

.about-section {
    /* padding-top: 100px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "one one"
        "two three"; 
}

.about-section div {
    background-color: bisque;
    /* border:0.1px solid black; */
    padding: 20px;
}

.about-section .one-head {
    height: 100px;
    font-size: 30px;
    font-weight: 100;
    border: 1px solid black;
}

/* .about-section .two-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background: url(greener.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */
.about-section .two-image {
    height: 800px;
    overflow: hidden;
}

.two-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.15s ease-out;
    will-change: transform;
}

.about-section .three-vision {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 200px;
    padding-right: 200px;
    height: 800px;
}

.about-section .three-vision h1 {
    font-size: 50px;
}

.about-section .three-vision .detail {
    margin-top: 30px;
    font-size: 25px;
    line-height: 40px;
}

.about-section .three-vision .btn {
    font-size: 20px;
    border: 0.5px solid black;
    height: 40px;
    width: 20vh;
    padding: 8px;
    margin-top: 20px;
    /* box-shadow: 0 10px 10px rgba(0,0,0,0.5); */
    background-color: transparent;
}

.about-section .three-vision .btn:hover {
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


/*--------------------------------Choose--------------------------*/

.choose-section {
    width: 100%;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one one one"
        "two three four";
}

.choose {
    line-height: 50px;
    padding-left: 50px;
    padding-top: 30px;
    height: 200px;
    border: 1px solid black;
}

.choose h1 {
    font-size: 50px;
}

.choose .detail {
    font-size: 25px;
}

.choose .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 0.5px solid black;
    height: 40px;
    width: 20vh;
    background-color: transparent;
}

.choose .btn:hover {
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.lower {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.lower h5 {
    font-size: 17px;
}

.lower h1 {
    font-size: 50px;
}

.lower p {
    font-size: 16px;
    line-height: 30px;
}

.sustainable {
    background-color: rgb(187, 209, 166);
}

.innovation {
    color: white;
    background-color: rgb(69, 87, 45, 1);
}

.impact {
    background-color: rgb(225, 246, 142);
}

@media(max-width:1080px) {
    .choose-section {
        display: flex;
        flex-direction: column;
    }
}

/*--------------------------------Footer--------------------------*/

/* footer {
    width: 100%;
    background: linear-gradient(to right, #0e8802, #5b1801);
    color: #fff;
    padding: 10px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    text-decoration: none;
    color: white;
}

.col ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
} */

footer {
    background-color: aqua;
    color: white;
    padding: 80px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding: 0;
}

.footer-row.menu{
    gap: 50px;
}
.footer-row li {
    list-style: none;
    margin: 0 15px;
}

.footer-row a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.footer-row a:hover {
    text-decoration: underline;
}

.footer-row.icons {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.footer-row.icons i {
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.footer-row.icons i:hover {
    transform: scale(1.2);
}

footer p {
    text-align: center;
    font-size: 14px;
    
}

/*--------------Responsive----------------------*/

@media(max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 10;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .upper-text {
        height: 400px;
    }
    .about-section .two-image {
        height: 1000px;
        overflow: hidden;
    }

    .two-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.15s ease-out;
        will-change: transform;
    }

    .about-section .three-vision {
        padding-top: 50px;
        padding-right: 50px;
        height: 1000px;
    }

    .about-section .three-vision h1 {
        font-size: 40px;
    }

    .about-section .three-vision .detail {
        font-size: 20px;
        margin-top: 10px;
    }
    .footer-row.menu{
        gap: 10px;
    }
    .footer-row.icons{
        display: flex;
        justify-content: center;
        gap: 90px;
        margin-right: 130px;
    }
    .footer-row.icons i{
        font-size: 11px;
    }
}

@media(max-width:480px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}
